In [2]:
from random import randint 
import pandas as pd 
import random
import numpy as np
from faker import Faker
 
fake1 = Faker('Polish')
fake = Faker()

 
def input_data(x):

    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i,'supplier_id']= str(i)
        data.loc[i,'company']= fake.company()
        data.loc[i,'name']= fake.name()
        data.loc[i,'address']= str(fake.address().replace("\n", " "))
        data.loc[i,'nip']= str(random.randrange(1111111111, 9999999999, 10))
        data.loc[i,'phone_number']= str(fake1.phone_number())
        data.loc[i,'email']= str(fake.email())
    data['email']=data['email'].str.slice(0,50)
    data['address']=data['address'].str.slice(0,50)
    return data
   
   
supp=input_data(30)
print(supp)
supp.to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\suppliers.csv",index=False)

   supplier_id                        company              name  \
0            0                     Meyers Inc   Nicholas Miller
1            1                     Torres LLC    Elizabeth Sims
2            2     Jacobson, Lane and Jenkins   Melissa Simpson
3            3               Collins and Sons    Richard Parker
4            4                       Ruiz PLC     Kevin Stevens
5            5         Kirk, Wong and Edwards      Rebekah Roth
6            6                 Armstrong-Rose      Robyn Wright
7            7            Rodriguez-Rasmussen      Max Chambers
8            8                   Thompson-Cox  Mason Strickland
9            9                   Brock-Branch       Jodi Gibson
10          10                     Barnes LLC     Crystal Woods
11          11                     Potter Ltd     Theresa Adams
12          12  Stephenson, Walker and Flores        Jim Taylor
13          13                 Anderson-Mills   William Mullins
14          14              Schwartz and Sons       Emily Smith
15          15                  Knapp-Estrada      Donald Perry
16          16       Williams, Cobb and Hodge     Thomas Little
17          17                 Mckinney-Adams   Patricia Harris
18          18   Waters, Matthews and Sanders   Kelsey Williams
19          19                     Wang-Munoz      Susan Howard
20          20          Richardson-Cunningham      Angela Hayes
21          21              Martinez and Sons         David Gay
22          22          Ho, Garcia and Fisher       David Moore
23          23       Flowers, Knapp and Young    Miguel Freeman
24          24       Kim, Williams and Parker      April Cooper
25          25      Bernard, Waters and Green      Eric Barnett
26          26                  Thomas-Ingram  Frederick Macias
27          27     Graves, Lawson and Raymond      Laurie Lyons
28          28        Ellis, Ewing and Snyder      Kevin Bailey
29          29           Ball, Brown and Hart      Lauren Hayes

                                              address         nip  \
0              4338 Richard Glens Wardville, NY 44771  5904288001
1     788 Green Tunnel Apt. 170 North Larry, AS 13459  3528662891
2   408 Jenna Stravenue Apt. 173 Port Casey, NV 90460  7333510751
3   704 Hardy Via Suite 332 East Christineside, GU...  7686943011
4    3969 Cooper Parkways North Charlesstad, MP 75991  1224295881
5             977 Holly Island Timothyhaven, IA 87225  4259601641
6    70758 Eduardo Stravenue Port Ericaland, MD 34710  1940308031
7                 846 Hughes Place Hodgeton, PR 72644  6996529021
8                 3829 Rios Oval Morganfort, NC 38989  2784872211
9     591 Welch Glen Apt. 572 East Paulberg, FM 67806  3747526151
10            089 David Overpass Avilashire, UT 12942  8897534821
11  7175 Carter Oval Apt. 996 Lake Royborough, VT ...  1501835711
12    05260 Vicki Pike Apt. 103 Moralesview, HI 05074  9469999721
13        1682 Kidd Tunnel Port Ericchester, WY 32482  8923976571
14            7744 James Lights South Sarah, MO 64828  3840966191
15    487 Catherine Brook Apt. 067 Vegastad, KS 30195  7411945891
16  18797 Mclaughlin Parks Apt. 622 South Bryan, A...  8411459371
17                          USNS Fleming FPO AA 94542  8454445961
18       962 Martin Fall South Anthonyshire, OK 56023  2286705991
19                    Unit 5494 Box 8600 DPO AE 35989  4237525571
20                           USNV Lucero FPO AE 82172  5025889491
21  31410 Stephen Junctions Suite 193 Jeanettefurt...  3219080971
22         337 Espinoza Parkways Pamelastad, MD 95625  5371119361
23    3879 Sara Parkways North Jennifertown, KY 28293  8336478821
24  435 James Track Apt. 189 South Savannahton, VT...  6961220331
25                08798 John Lake Jorgeport, MS 87858  4688165151
26  51246 Paul Views Suite 160 West Amberborough, ...  8425150531
27       88659 Vanessa Prairie Jeremiahtown, NV 45924  4472631161
28   8693 Ashley Forges Apt. 925 Donnahaven, CT 40085  3000752741
29          88529 Burton Motorway Lauratown, MD 27036  3958783861

        phone_number                            email
0        507 649 769               hgreen@example.com
1    +48 601 434 928        cynthiazamora@example.org
2        692 452 990               oadams@example.net
3    +48 508 769 397             gilllisa@example.com
4    +48 788 386 061               zgross@example.org
5        604 035 867               xwoods@example.net
6        791 003 685       christymathews@example.com
7    +48 787 401 165            madison54@example.net
8        519 734 208            seanmason@example.org
9        788 788 894        robertjenkins@example.net
10       501 596 128  fitzgeraldcassandra@example.org
11       578 031 461       parkerjennifer@example.com
12       538 118 032             amanda62@example.com
13   +48 577 686 267          debragibson@example.org
14       698 604 032              kathy49@example.com
15   +48 533 609 051           dpatterson@example.com
16       513 449 030               ayoung@example.com
17       579 154 910             joseph96@example.org
18       889 483 718        jeffreyparker@example.net
19       723 509 750             ghiggins@example.com
20      22 865 10 94             snielsen@example.org
21       608 000 021             tgregory@example.org
22   +48 887 214 956              ncampos@example.com
23   +48 506 657 211            brucechan@example.net
24  +48 22 807 71 44        williamrivera@example.com
25   +48 505 288 922            seanblake@example.com
26   +48 888 082 276           reedamanda@example.net
27       886 162 305           knightjoel@example.net
28   +48 730 544 105        lawrencemaria@example.org
29      32 884 58 10               ufrank@example.org

In [14]:

 
def input_data(x):
    date1=[]
    for i in range(0, x):
        date1.append(fake.date())
    date1.sort()
    
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i,'supply_id']= str(i)
        data.loc[i,'supply_date']= date1[i]
        data.loc[i,'supplier_id']= str(randint(1,29))
        data.loc[i,'done']= str(np.random.choice([0, 1], p=[0.1, 0.9]))
    return data
   

supp=input_data(500)
print(supp)

supp.to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\supplies.csv",index=False)

    supply_id supply_date supplier_id done
0           0  1970-01-18           9    0
1           1  1970-03-24          18    1
2           2  1970-04-05          18    1
3           3  1970-04-23           8    1
4           4  1970-08-23          26    1
..        ...         ...         ...  ...
495       495  2022-06-26          15    1
496       496  2022-08-17           9    1
497       497  2022-09-02           1    1
498       498  2022-11-27          29    1
499       499  2022-12-23          29    0

[500 rows x 4 columns]

In [15]:

def input_data(x):
    m=0
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        for _ in range(np.random.choice([1,2,3,5,6,8,9,13,15], p=[0.05,0.05,0.2,0.1,0.2,0.1,0.1,0.1,0.1])):
            data.loc[m,'id']= str(m)
            data.loc[m,'product_id']= str(randint(1,499))
            data.loc[m,'supply_id']= str(i)
            data.loc[m,'quantity']= str(randint(1,50))
            m+=1
    return data
   

supp_in=input_data(500)
print(supp_in)

  
supp_in.to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\supplies_info.csv",index=False)

        id product_id supply_id quantity
0        0        485         0       20
1        1         25         0        4
2        2         33         0       37
3        3        305         0       36
4        4        424         0       50
...    ...        ...       ...      ...
3532  3532        361       499       11
3533  3533        249       499       29
3534  3534        384       499       15
3535  3535        253       499       24
3536  3536        163       499       42

[3537 rows x 4 columns]

In [28]:
def input_data_(x):
   
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i,'client_id']= str(i)
        data.loc[i,'user_id']= str(i)
        data.loc[i,'name']= fake.name()
        data.loc[i,'pesel']= str(random.randrange(111111, 999999, 8))
        data.loc[i,'address']= str(fake.address().replace("\n", " "))
        data.loc[i,'phone_number']= str(fake1.phone_number())
        data.loc[i,'email']= str(fake.email())
    data['email']=data['email'].str.slice(0,50)
    data['address']=data['address'].str.slice(0,50)
    return data
   
supp=input_data(100)
print(supp)
supp.to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\clients.csv",index=False)

   client_id user_id             name   pesel  \
0          0       0   Robert Elliott  656327
1          1       1    Marissa Hines  248207
2          2       2   Joshua Mendoza  781271
3          3       3     Julie Butler  854503
4          4       4       Mary Perez  128671
..       ...     ...              ...     ...
95        95      95   Brittany Arias  172607
96        96      96    Dana Drake MD  899879
97        97      97      Ashley Gray  854711
98        98      98  Chelsea Morales  775559
99        99      99  Kimberly Miller  791407

                                              address      phone_number  \
0   99828 Charlene Lights Suite 807 Adamton, VI 75331   +48 793 320 297
1           70588 Sanchez Corners Whiteview, SD 22546       538 017 913
2              45523 Gonzalez Well Lake Amy, MT 57019      32 602 80 21
3               6388 Smith Circles Ryanport, RI 03268       661 247 702
4   979 Adams Tunnel Apt. 798 Port Melodyton, AL 5...       667 977 874
..                                                ...               ...
95            22954 Carla Passage Kevinberg, MT 57121  +48 32 181 48 53
96           9622 Carly Cliffs Millschester, FM 46837      22 194 55 76
97          54895 Thomas Forks Jonesborough, VT 40680      22 990 47 14
98  14898 Soto Harbors Suite 474 North Jenniferton...       795 527 744
99         200 Joshua Ports Port Aprilmouth, KS 80460       690 677 159

                         email
0     hayeskenneth@example.org
1      jamesingram@example.com
2        cynthia97@example.net
3          david40@example.com
4          frank84@example.net
..                         ...
95    gainesjoshua@example.org
96        hunter04@example.org
97       cynthia22@example.org
98  samanthamedina@example.com
99         shaynes@example.org

[100 rows x 7 columns]

In [31]:
def input_data(x):
    date1=[]
    for i in range(0, x):
        date1.append(fake.date())
    date1.sort()
    
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i,'sale_id']= str(i)
        data.loc[i,'sale_date']= date1[i]
        data.loc[i,'client_id']= str(randint(1,99))
        data.loc[i,'done']= str(np.random.choice([0, 1], p=[0.1, 0.9]))
    return data
   

supp=input_data(1000)
print(supp)


supp.to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\sales.csv",index=False)

    sale_id   sale_date client_id done
0         0  1970-01-05        71    0
1         1  1970-01-21        76    1
2         2  1970-01-29        50    1
3         3  1970-02-01        78    1
4         4  1970-02-07        73    1
..      ...         ...       ...  ...
995     995  2022-08-27        45    1
996     996  2022-10-16        71    1
997     997  2022-11-12        77    1
998     998  2022-11-16        26    1
999     999  2022-12-04         5    1

[1000 rows x 4 columns]


def input_data(x):
    m=0
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        for _ in range(np.random.choice([1,2,3,5,6,8,9,13,15], p=[0.05,0.05,0.2,0.1,0.2,0.1,0.1,0.1,0.1])):
            data.loc[m,'id']= str(m)
            data.loc[m,'product_id']= str(randint(1,499))
            data.loc[m,'supply_id']= str(i)
            data.loc[m,'quantity']= str(randint(1,50))
            m+=1
    return data
   

supp_in=input_data(500)
print(supp_in)

  
supp_in.to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\supplies_info.csv",index=False)

In [36]:

def input_data(x):
    m=1
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(1, x):
        for _ in range(np.random.choice([1,2,3,5,6,8,9,13,15], p=[0.05,0.05,0.2,0.1,0.2,0.1,0.1,0.1,0.1])):
            data.loc[m,'id']= str(m)
            data.loc[m,'product_id']= str(randint(1,499))
            data.loc[m,'sale_id']= str(i)
            data.loc[m,'quantity']= str(randint(1,50))
            m+=1
    return data
   

supp_in=input_data(1000)
print(supp_in)


  
supp_in.to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\sales_info.csv",index=False)

        id product_id sale_id quantity
1        1        389       1       25
2        2        364       1       30
3        3        210       1        8
4        4        303       1       11
5        5        297       1       21
...    ...        ...     ...      ...
7004  7004        192     998        5
7005  7005        169     998       38
7006  7006        393     999       34
7007  7007        350     999       15
7008  7008        222     999        5

[7008 rows x 4 columns]

In [3]:
import hashlib, uuid
def input_data(x):
    name=[]
    for _ in range(1100):
                name.append(fake.name())

    # pandas dataframe
    data = pd.DataFrame()
    data1 = pd.DataFrame()
    for i in range(0, x):
        data1.loc[i,'client_id']= str(i)
        data1.loc[i,'user_id']= str(i)
        data1.loc[i,'name']= name[i]
        data1.loc[i,'nip']= str(random.randrange(1111111111, 9999999999, 10))
        data1.loc[i,'address']= str(fake.address().replace("\n", " "))
        data1.loc[i,'phone_number']= str(fake1.phone_number())
        data1.loc[i,'email']= str(fake.email())
    data1['email']=data1['email'].str.slice(0,50)
    data1['address']=data1['address'].str.slice(0,50)



    for i in range(0, x):
            seed=randint(1,20)
            login=name[i][:4]
            pass1 = str.encode(str(login)+ str(i+1)+ str(seed))
            
            data.loc[i,'user_id']= str(i)
            data.loc[i,'login']= str(login)+str(i+1)
            data.loc[i,'password']= hashed_password = hashlib.sha512(pass1).hexdigest()
            data.loc[i,'seed']= str(seed)
            data.loc[i,'type']= str('client')
        #suppliers
    data2 = pd.DataFrame()
    for i in range(100, 130):
        data2.loc[i,'client_id']= str(i-100)
        data2.loc[i,'user_id']= str(i)
        data2.loc[i,'name']= name[i]
        data1.loc[i,'nip']= str(random.randrange(1111111111, 9999999999, 10))
        data2.loc[i,'address']= str(fake.address().replace("\n", " "))
        data2.loc[i,'phone_number']= str(fake1.phone_number())
        data2.loc[i,'email']= str(fake.email())
    data2['email']=data2['email'].str.slice(0,50)
    data2['address']=data2['address'].str.slice(0,50)

    for i in range(100, 130):
            seed=randint(1,20)
            login=name[i][:4]
            pass1 = str.encode(str(login)+ str(i+1)+ str(seed))
            
            data.loc[i,'user_id']= str(i)
            data.loc[i,'login']= str(login)+str(i+1)
            data.loc[i,'password']= hashed_password = hashlib.sha512(pass1).hexdigest()
            data.loc[i,'seed']= str(seed)
            data.loc[i,'type']= str('supplier')
            #workers
    data3 = pd.DataFrame()
    for i in range(130, 140):
        data3.loc[i,'client_id']= str(i-130)
        data3.loc[i,'user_id']= str(i)
        data3.loc[i,'name']= name[i]
        data1.loc[i,'nip']= str(random.randrange(1111111111, 9999999999, 10))
        data3.loc[i,'address']= str(fake.address().replace("\n", " "))
        data3.loc[i,'phone_number']= str(fake1.phone_number())
        data3.loc[i,'email']= str(fake.email())
    data3['email']=data3['email'].str.slice(0,50)
    data3['address']=data3['address'].str.slice(0,50)    
    for i in range(130, 140):
            seed=randint(1,20)
            login=name[i][:4]
            pass1 = str.encode(str(login)+ str(i+1)+ str(seed))
            
            data.loc[i,'user_id']= str(i)
            data.loc[i,'login']= str(login)+str(i+1)
            data.loc[i,'password']= hashed_password = hashlib.sha512(pass1).hexdigest()
            data.loc[i,'seed']= str(seed)
            data.loc[i,'type']= str('worker')
    

    return data, data1,data2,data3
   

supp_in=input_data(100)
print(supp_in[0])
print(supp_in[1])

  
supp_in[0].to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\users.csv",index=False)
supp_in[1].to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\clients.csv",index=False)
supp_in[2].to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\suppliers.csv",index=False)
supp_in[3].to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\workers.csv",index=False)

    user_id    login                                           password seed  \
0         0    Kait1  9da8b0562c964188e0565baf65b000fdd2b9caf7406130...   12
1         1    Bria2  9577d6744b78250fa2b0c90475abdc30504656e2f462dd...    5
2         2    Jeff3  1256b517d432651855fc10b24cc64af51c7196f75bbbd7...    3
3         3    John4  f54e308ac32f5a4bad820b1316162b4b5c46e91791e816...    3
4         4    Will5  1ca4cd8bdd15ed170627e62f727f05124681bb011854da...   14
..      ...      ...                                                ...  ...
135     135  Barb136  4c052ce96a5df1b411c2170574c478c8e54f6b18654e04...   17
136     136  Kimb137  38e034c0000efc80acdcf36d8e511967da14f1c55b4463...   13
137     137  Phil138  f9a43b74e82e639de5e076f61a855848aa146d619cc5f0...   18
138     138  Hunt139  aea1ccfded40ee32ec2653eef03cdcc1fc470697f8ebe0...   19
139     139  Marc140  365bc018f1182b37539d3d03122ebc5e4ff2eaeb3d93ca...   13

       type
0    client
1    client
2    client
3    client
4    client
..      ...
135  worker
136  worker
137  worker
138  worker
139  worker

[140 rows x 5 columns]
    client_id user_id                    name         nip  \
0           0       0           Kaitlin Carey  7379410971
1           1       1             Brian Horne  1825351681
2           2       2          Jeffrey Nelson  3387135941
3           3       3           John Jennings  9913797551
4           4       4  William Montgomery Jr.  7264497441
..        ...     ...                     ...         ...
135       NaN     NaN                     NaN  1478093981
136       NaN     NaN                     NaN  6707254851
137       NaN     NaN                     NaN  8953877911
138       NaN     NaN                     NaN  4794599641
139       NaN     NaN                     NaN  3822597391

                                               address     phone_number  \
0                      PSC 6162, Box 7046 APO AA 11873  +48 518 256 014
1    17571 Patty Villages Apt. 055 North Kathy, IA ...  +48 722 941 332
2               15056 Eric Landing Wendyside, ME 33816  +48 788 800 204
3                 7152 Lloyd Fork Maciasview, MS 24766  +48 788 038 428
4                      Unit 4319 Box 0510 DPO AE 98652      791 147 133
..                                                 ...              ...
135                                                NaN              NaN
136                                                NaN              NaN
137                                                NaN              NaN
138                                                NaN              NaN
139                                                NaN              NaN

                           email
0          graykeith@example.com
1            debra63@example.org
2      chapmanjoshua@example.org
3    harveycassandra@example.net
4            corey55@example.com
..                           ...
135                          NaN
136                          NaN
137                          NaN
138                          NaN
139                          NaN

[140 rows x 7 columns]

In [26]:
def input_data_(x):
   
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i,'client_id']= str(i)
        data.loc[i,'user_id']= str(i)
        data.loc[i,'name']= fake.name()
        data.loc[i,'pesel']= str(random.randrange(111111, 999999, 8))
        data.loc[i,'address']= str(fake.address().replace("\n", " "))
        data.loc[i,'phone_number']= str(fake1.phone_number())
        data.loc[i,'email']= str(fake.email())
    data['email']=data['email'].str.slice(0,50)
    data['address']=data['address'].str.slice(0,50)
    return data
   
supp=input_data(100)
print(supp)
supp.to_csv("C:\\Users\\s1z2y\\Desktop\\pythonlogin\\data\\clients.csv",index=False)

b10a8db164e0754105b7a99be72e3fe5